<main class="container">
  <%= link_to sanitize("&larr; Back to bitcoins"), bitcoins_path %>

  <div class="header">
    <h1>New hash</h1>
  </div>

  <%= turbo_frame_tag @bitcoin do %>
    <%= render "form", bitcoin: @bitcoin %>
  <% end %>
</main>