.icontoggle {
  background-color: var(--color-light);
  border: none;
  color: var(--color-dark);
  padding: 6px 20px;
  font-size: 16px;
  cursor: pointer;
    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
}

